---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/orgs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 12345
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4979'
      X-Ratelimit-Reset:
      - '1396097671'
      Etag:
      - "\"47eeeeaacd7793944c5c1490db04f7df\""
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - admin:org, read:org, repo, user, write:org
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: "[{\"login\":\"invalidify\",\"id\":1536367,\"url\":\"https://api.github.com/orgs/invalidify\",\"repos_url\":\"https://api.github.com/orgs/invalidify/repos\",\"events_url\":\"https://api.github.com/orgs/invalidify/events\",\"members_url\":\"https://api.github.com/orgs/invalidify/members{/member}\",\"public_members_url\":\"https://api.github.com/orgs/invalidify/public_members{/member}\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/1536367?\"}]"
  recorded_at: Sat, 29 Mar 2014 12:24:48 GMT
recorded_with: VCR 2.8.0
